<html>
  <head>
    <title>wol</title>
    <link rel="stylesheet" href="static/css/index.css" />    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2 class="title">wol</h2>
      </div>
      
      <div class="input">
        <form id="form">
          <input type="text" name="address" placeholder="Enter a MAC Address here">
          <input type="submit" value="Wake up">
        </form>
      </div>

      <div class="devices">
        {{#each devices}}
          <div id="device" data-name="{{this.name}}" data-addr="{{this.mac}}">
            <p class="device-name">{{this.name}}</p>
            <p class="device-address">{{this.mac}}</p>
          </div>
        {{/each}}
      </div>
    </div>
    <script src="static/js/index.js"></script>
  </body>
</html>